{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('task_create') }}" class="btn btn-info">Créer une tâche</a>
    <div class="row mt-3">
        {% for task in tasks %}
            <div class="col-3">
                <div class="card-task">
                    <div class="content">
                        <h4>{{ task.title }}</h4>
                        <p>{{ task.content }}</p>
                    </div>
                    <div class="row mx-0 action">
                        <div class="col-6 g-0 text-center close">
                            <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                                <button class="">
                                    {% if task.isDone %}Rouvrir{% else %}Terminée{% endif %}
                                </button>
                            </form>
                        </div>
                        <div class="col-6 g-0 text-center delete">
                            <form action="{{ path('task_delete', {'id' : task.id }) }}">
                                <button class="">Supprimer</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            {% else %}
            <div class="alert alert-warning" role="alert">
                Vous n'avez pas de tâche en cours.
            </div>
        {% endfor %}
    </div>
{% endblock %}
