<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>To Do List</title>

		<!-- Bootstrap Core CSS -->
		<link
		href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="{{ asset('assets/css/shop-homepage.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>

	<body>
		<nav id="header" class="navbar navbar-expand-lg mb-3" role="navigation">
			<div class="container">
				<img class="img-fluid me-3" src="{{ asset('assets/img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms"/>
				<a class="navbar-brand" id="logo" href="{{ path('homepage') }}">To Do List</a>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="ms-auto navbar-nav">
                        {% if app.user %}
                            <li class="nav-item">
                                <a href="{{ path('homepage') }}" class="nav-link">Vos tâches</a>
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a href="{{ path('user_list') }}" class="nav-link">Liste des utilisateurs</a>
                                </li>
                            {% endif %}

                            <li class="nav-item">
                                <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
                            </li>
                        {% endif %}

                        {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ path('login') }}">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ path('user_create') }}">Créer un compte</a>
                            </li>
                        {% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<!-- Page Content -->
		<div id="main" class="container">
            {% if app.session.flashBag.peekAll is not empty %}
                <div class="row">
                    <div class="col-md-12">
                        {% for flash_message in app.session.flashBag.get('success') %}
                            <div class="alert alert-success" role="alert">
                                <strong>Superbe !</strong>
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashBag.get('error') %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Oops !</strong>
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            
            {% block body %}{% endblock %}
        </div>

        <div id="footer" class="container-fluid mt-auto">
            <footer class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="pull-right">Copyright &copy; OpenClassrooms</span>
                    </div>
                </div>
            </footer>
        </div>

			<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
		</body>
	</html>
